
.boardGame {
    position:relative;
}
.firstLine {
    display: flex;
    background-color: aquamarine;
}
.othersLines {
    display: flex;
}
.case {
    background-color: rgb(181, 179, 179);
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    border: solid black 1px;
    text-align: center;
    line-height: 40px;
}
