.main{
    height: 40px;
    width: 40px;
    border: solid black 1px;
    box-sizing: border-box;
    text-align: center;
    line-height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
}