.main {
    background-color: blanchedalmond;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}
.playBoards {
    display: flex;
    justify-content: space-around;
}
