.main {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    background-image: url("/images/backgroundHome.jpg");
    background-position:left;
    background-repeat:repeat-x;
    background-size:250cqb;
    animation : movement cubic-bezier(.28,-0.01,.75,1) 100s infinite alternate;
}

.header {
    flex: 1;
}
.title {
    color: rgb(31, 43, 54);
    font-size: 4rem;
    text-shadow: white 0 0 2px;
    text-align: center;
}
.content {
    display: flex;
    flex: 4;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

}


@keyframes movement {
    from{
        background-position:left;
    }
    to{
        background-position:right;
    }
}