.main {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    background-image: url("/images/backgroundHome.jpg");
    background-position:left;
    background-repeat:repeat-x;
    background-size:250cqb;
    animation : movement cubic-bezier(.28,-0.01,.75,1) 100s infinite alternate;
}

.header {
    flex: 1;
}
.title {
    color: rgb(31, 43, 54);
    font-size: 4rem;
    text-shadow: white 0 0 2px;
    text-align: center;
}
.content {
    display: flex;
    flex: 4;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

}
.link {
    background-color: rgb(0, 0, 0);
    font-size: 2rem;
    color: azure;
    border-radius: 50px;
    border: none;
    margin: 40px;
    padding: 20px;
    text-decoration: none;
}
.link:hover {
    background-color: rgb(110, 110, 110);
    cursor: pointer;
    transition: ease-in-out 0.3s;
    scale: 1.02;
}
.link:active {
    background-color: rgb(3, 3, 3);
    transition: ease-in-out 0.05s;
    scale: 0.97;
}

@keyframes movement {
    from{
        background-position:left;
    }
    to{
        background-position:right;
    }
}