.submarine{
    position: absolute;
}

.gameNotStarted .submarine {
    cursor: grab;
}
.gameNotStarted .submarine:active {
    transform: scale(1.1);
    transition: transform 0.5s ease-out;
}

.submarineSection {
    border-radius: 100px;
    background-color: red;
}
