.submarine {
    position: absolute;
    cursor : grab
}
.submarine:active {
    scale:1.1;
    transition : scale 0.5s ease-out
}

.submarineSection {
    border-radius: 100px;
    background-color: red;
}